<% if @posts.exists? %>
   <h1>Search Results</h1>
 <% else %>
   <h1>Oop!  No posts found...</h1>
 <% end %>
  <div class = "row profile-posts">
 <% @posts.each do |post| %>
  <div class = "pics">
    <%= link_to image_tag(post.image, class: "pics"),post_path(post) %>
  </div>
 <% end %>
</div> 
