<div class = "search-page">
 <% if @posts.exists? %>
   <h1>Search Results</h1>
 <% else %>
   <h1>Oop! No matching posts ...</h1>
 <% end %>
</div>

<div class = "row profile-posts">
 <% @posts.each do |post| %>
  <div class = "pics">
    <%= link_to image_tag(post.image, class: "pics"),post_path(post) %>
  </div>
 <% end %>
</div> 
