<div class = "search-results"><%= render "post"%></div>
<div class = "search-page">
  <button class="comment-form-display"><span class = "btn">Accounts</span></button>
  <div class = "comment-form">
     <div class = "follower-suggestions"><%= render partial: "account" %></div>
  </div>
</div>

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
     ev.preventDefault();
     el.nextElementSibling.style = 'display: block;'
    })
  })
</script>
