<% comments.each do |comment| %>
 <div class = "comment" >
    <% if post.account.profile_image.attached? %>
        <%= link_to image_tag(post.account.profile_image, width: "30px" , height:"30px", :class => "profile-pic float-left m-r-15"),profile_path(post.account.username) %>
    <% else %>
        <img class="profile-pic float-left m-r-15" width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
    <% end %> 
 <strong><%= link_to comment.account.username, profile_path(comment.account.username), class: "text-dark" %></strong>
 <%= comment.comment %>
 <p class = "text-muted m-l-30"><%= time_ago_in_words comment.created_at %> ago </p>
 </div> 
<% end %> 